*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(29, 108, 140);  
}

.container{
        display: flex;
       align-items: center;
        flex-direction: column;
        line-height: 2rem;

    }

.container p{
    background-color: #ddd8d8;
    margin-top: 6rem;
    padding: 30px;
    border: 5px solid black;
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    animation: slideIn 1s ease-in-out;

}
.btn{
    margin-top: 5rem;
    background-color:black ;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 15px;
    transition: 0.3s ease;
    animation: appear 1s ease-in-out;
}

.btn:hover{
    background-color: darkgrey;
}

@media(max-width:768px){
    body{
        background-color: rgb(143, 217, 241);
    }
    .container p{
        padding: 20px;
        font-size: 20px;
        background-color: #fff;
    }
}

@media(max-width:480px){
        body{
        background-color: rgb(85, 185, 218);
    }
    .container p{
        padding: 10px;
        font-size: 16px;
        background-color: #c79090;
    }
}

@keyframes slideIn {
from {
 transform: translateX(-100%);
 opacity: 0;
}
 to {
 transform: translateX(0);
 opacity: 1;
}
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}