*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    height: 70vh;
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    flex: 1 1 200px;
}

.left, .right{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.right{
    align-items: flex-end;
}
.box{
    border: 3px solid green;
    width: 90px;
    height: 66px;
}

.box2{
    border: 3px solid blue;
    width: 90px;
    height: 66px;
}
