*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 15px;
}

.container{
    border: 2px solid red;
    width: 80%;
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr */

    /* in one line
     grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */

    /* an effective way */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    padding: 15px;

    grid-column: 1/2;
    margin-bottom: 30px;
}

.box{
    width: 150px;
    height: 120px;
    border: 2px solid green;
}


.container2 {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;

}

.header {
    grid-area: header;
    background: #ddd;
}

.sidebar {
    grid-area: sidebar;
    background: #bbb;
}

.content {
    grid-area: content;
    background: #eee;
}

.footer {
    grid-area: footer;
    background: #ccc;
}

.item {
    margin: 10px;
    padding: 20px;
}